<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lib/css/style.css">
    <script src="/lib/js/vue.min.js"></script>
    <script src="/lib/js/vue.js"></script>
    <title>To-Do-App</title>
</head>
<body>
    <div id="aufgabenApp">
        <h1>To-Do-Liste</h1>

        <!-- Weitere Aufgaben -->
        <p>
            <label for="neueAufgabe">Weitere Aufgaben</label>
            <input id="neueAufgabe" type="text" v-model.lazy="neueAufgabe">
            <button class="hinzu" type="submit" @click="aufgabeHinzu">hinzufügen</button>
        </p>

        <!-- Alle Aufgaben -->
        <h2>Alle Aufgaben</h2>
        <ul>
            <li v-for="(aufgabe, index) in aufgaben" :class= "{'abgeschlossen': aufgabe.fertig}">{{aufgabe.beschreibung}}
                <p>{{aufgabe.beschreibung}}</p>
                <button class="erledigtWechseln" @click="erledigtWechseln(index)">✓</button>
                <button class="loeschen" @click="loeschen(index)">✖</button>
            </li>
        </ul>

        <!-- Noch zu tun -->
        <h2>Noch zu tun</h2>
        <ul>
            <li v-for="aufgabe in nichterledigt">{{aufgabe.beschreibung}}</li>
        </ul>

    <!-- Abgeschlossen -->
        <h2>Abgeschlossen</h2>
            <ul>
                <li v-for="aufgabe in erledigt">{{aufgabe.beschreibung}}</li>    
            </ul>
    </div>
</body>
</html>